NUXT_PUBLIC_API_URL="http://tarefador.localhost/api"
NUXT_PUBLIC_SPA_URL="http://tarefador.localhost"
INTERNAL_API_URL="http://api:9000"
INTERNAL_SPA_URL="http://spa:3000"
DB_HOST="mysql"
DB_PASSWORD=""
MYSQL_ROOT_PASSWORD=""
MONGODB_URI="mongodb://mongodb:27017"
REDIS_HOST="redis"
MAIL_MAILER="log"
MAIL_FROM_ADDRESS=""